// Color variables
$colors: (
  white           : #fcfcfa,
  grey            : #999,
  grey-dark       : #666,
  black           : #16161d,
  blue            : #005b96,
  blue-light      : #6497b1,
  red             : #b20000
);
