// Color variables
$colors: (
  white           : #fcfcfa,
  grey            : #999,
  grey-dark       : #666,
  black           : #16161d,
  blue            : #005b96,
  blue-light      : #6497b1,
  red             : #b20000,
  google          : #dd4b39,
  facebook        : #3b5998,
  twitter         : #55acee,
  github          : #000000,
);
