// sizes & metrics

$s-design-width         : 1024px !default;
$s-golden               : 1.61803398875;
$s-base                 : 1rem !default;

$breakpoints: (
  "mobile"              : "only screen and (max-width:740px)",
  "tablet"              : "only screen and (max-width:1050px)",
  "desktop"             : "only screen and (min-width:1051px)",
  "print"               : "print, (min-resolution: 1.25dppx), (min-resolution: 120dpi)"
) !default;

// desktop or mobile-first?
$breakpoint-default     : desktop !default;

$dialog-sizes:
    (0.2rem tiny border-radius ) // size(-1)
    (0.5rem gutter-narrow inline stack-small)
    (0.75rem small)
    0.8rem
    (1rem medium isBase gutter stack) // size(0)
    1.2rem
    (1.5rem large stack-large)
    3.5rem
    (48px image-small)
    (5rem)
    (10rem huge image-medium)
    (20rem image-large);  // size(1)
