# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
boilerplate-318f8-firebase-adminsdk-i3wt4-29990371b6.json
yarn-error.log
firebase-debug.log
