$module-name: 'avatar';

@include settings((
  avatar-size           : size(image-small)
));

.#{$module-name} {
  border-radius: 50%;
  overflow: hidden;
  &--small {
    height: setting(avatar-size);
    width: setting(avatar-size);
  }
  &__image {

  }
  &-svg {
    &--small,
    &__rect--small {
      height: setting(avatar-size);
      width: setting(avatar-size);
    }
  }
}
