$avatarSize: 48px;

.avatar {
  border-radius: 50%;
  overflow: hidden;
  &--small {
    height: $avatarSize;
    width: $avatarSize;
  }
  &__image {

  }
}

.avatar-svg {
  &--small,
  &__rect--small {
    height: $avatarSize;
    width: $avatarSize;
  }
}
