$module-name: 'avatar';

@include settings((
  size           : size(image-small),
  size-medium    : size(image-medium),
  size-large     : size(image-large)
));

.#{$module-name} {
  border-radius: 50%;
  overflow: hidden;
  height: setting(size);
  width: setting(size);
  &--medium {
    height: setting(size-medium);
    width: setting(size-medium);
  }
  &--large {
    height: setting(size-large);
    width: setting(size-large);
  }

}
