$headerColor: $blue;
$textColor: $white;

.header {
  background: $headerColor;
  color: $textColor;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
  }

  &__logo {
    display:inline-block;
  }

  &__circle {
    stroke: $white;
    fill: $blue-light;
  }

  &__brand {
    display: inline-block;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
  }
  &__left {
    a {
      color: $textColor;
    }
  }

  &__right {
    &--has-user {
      min-width: 130px;
      @include breakpoint(mobile) {
        min-width: 0;
      }
    }
    a {
      color: $textColor;
    }
  }

  &__public-link {
    margin-right: 1rem;
    &--last {
      margin-right: 0;
    }
  }
}

.user-dropdown {
    position: relative;
    @include breakpoint(mobile) {
      position: initial;
    }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    display: inline-block;
    margin-right: 1rem;
    @include breakpoint(mobile) {
      display:none;
    }
  }

  &__wrapper .avatar {
    display: inline-block;
  }

  &__item a {
    background: $headerColor;
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active {
      background: lighten($headerColor,10%);
      text-decoration: none;
    }
  }

  &__btn-logout {
    background: $headerColor;
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    &:hover,
    &:active {
      background: lighten($headerColor,10%);
    }
  }
}

.dd-menu-items {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-top: 0.5rem;
}

.dd-items-center {
  list-style: none;
  padding: 0;
  margin: 0;
}
