$module-name: 'user-notes-list';

@include settings((
  inline: size(inline),

  display-name-type: subtitle,
  display-name-color: color(black),

  content-type: default,
  content-color: color(blue),

  date-type: date,
  date-color: color(grey),

  stack-below: size(gutter),
  image-size: size(image-small),

  icon-type: icon-small,
  icon-color: color(green)

));

.#{$module-name} {

  &__item {
    margin-bottom: setting(stack-below)
  }

  &__display-name {
    display: inline-block;
    margin-right: setting(inline);
    @include type(setting(display-name-type),(color: setting(display-name-color) ) );
  }

  &__content {
    display: block;
    @include type(setting(content-type),(color: setting(content-color) ) );
  }

  &__date {
    display: inline-block;
    margin-right: setting(inline);
    @include type(setting(date-type),(color: setting(date-color) ) );
  }

  &__image {
    display: inline-block;
    margin-right: setting(inline);
    width: setting(image-size);
  }

  &__btn-delete {
    float: right;
  }

  &__icon {

    @include type(setting(icon-type),(color: setting(icon-color) ) );

    &--delete {

    }

  }

}
