$module-name: 'form';

@include settings((
  inline: size(inline),
));

.#{$module-name} {

  &__row {

  }

  &__label {

  }

  &__field {

  }

  &__submit {

  }

  &__radio-label {

  }

  &__radio-input {
    margin-right: setting(inline);
  }

}
