html {
  color: #000;
  background: #FFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
figure,
figcaption {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit; }

del,
ins {
  text-decoration: none; }

li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: inherit;
  *color: #000; }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  vertical-align: top; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* @import "module-settings"; */
/**
 * Usage

$module-name: 'somerandommodule';

@include settings((
  gutter         : 1rem,
  color          : silver,
  color-contrast : gold
));

. {
  padding: setting('gutter');
  &__submodule {
    color: setting(color);
  }
}

 */
/**
 * dialog-size - Painless CSS sizes
 * @version v1.2.0
 * (c) 2016 meodai <meodai@gmail.com> (https://github.com/meodai/)
 * @link https://github.com/meodai/dialog-size#readme
 * @license MIT
 */
html {
  font: 1rem/1.5 "Source Sans Pro", sans-serif;
  color: #16161d;
  text-size-adjust: 100%;
  overflow-y: scroll; }

html, body, .l-body {
  min-height: 100%; }

strong {
  font-weight: 400; }

::-moz-selection {
  background: #6497b1;
  text-shadow: none; }

::selection {
  background: #6497b1;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

@inlcude textClasses($text-selectors);
.js-breakpoint:after,
.js-breakpoint {
  content: '{"mobile":"only screen and (max-width:740px)","tablet":"only screen and (max-width:1050px)","desktop":"only screen and (min-width:1051px)","print":"print, (min-resolution: 1.25dppx), (min-resolution: 120dpi)"}';
  font-family: '{"mobile":"only screen and (max-width:740px)","tablet":"only screen and (max-width:1050px)","desktop":"only screen and (min-width:1051px)","print":"print, (min-resolution: 1.25dppx), (min-resolution: 120dpi)"}'; }

/**
 * remove removes element from list returns the others
 */
/**
 * mixin responsive-visibility
 * $visibility-breakpoints {[list]} list of breakpoints you want to interact with
 * $overwrite {[boolean]} if set true will generate classes that overwrite what ever visibility is active on that element
 *
 * exact:
 * @include responsive-visibility("only-mobile" "only-tablet" "only-desktop", true);
 *
 * up:
 * @include responsive-visibility("mobile" "tablet" "desktop", false);
 */
.l-clearfix:after {
  display: block;
  content: "";
  clear: both; }

.l-site-width {
  position: relative;
  margin: 0 auto;
  max-width: 1024px; }

.l-horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .l-horizontal-list > li {
    display: inline-block;
    vertical-align: top; }

.l-horizontal {
  list-style: none;
  margin: 0;
  padding: 0; }
  .l-horizontal * {
    display: inline-block;
    vertical-align: top; }

.l-horizontal-samewidth-list {
  display: table;
  width: 100%;
  table-layout: fixed;
  list-style: none;
  margin: 0;
  padding: 0; }
  .l-horizontal-samewidth-list > li {
    height: 100%;
    display: table-cell;
    vertical-align: top; }

.l-horizontal-equidistant {
  text-align: justify;
  font-size: 0.001px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .l-horizontal-equidistant * {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; }
  .l-horizontal-equidistant:after {
    content: '';
    width: 100%;
    display: inline-block; }

.l-table {
  display: table;
  width: 100%;
  box-sizing: border-box; }

.l-table-row {
  display: table-row; }

.l-table-cell {
  display: table-cell;
  vertical-align: middle; }
  .l-table-cell--max {
    width: 100%; }
  .l-table-cell--min {
    width: 1%; }

.l-horizontal-extremities:after {
  display: block;
  content: "";
  clear: both; }

.l-horizontal-extremities > * {
  float: right; }

.l-horizontal-extremities > *:first-child {
  float: left; }

.l-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.l-centered-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto; }

.l-centered-inner {
  display: table;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%; }

.l-centered-content {
  display: table-cell;
  vertical-align: middle; }

.l-centered-body {
  position: relative;
  display: inline-block;
  max-width: 90%;
  text-align: left; }


.l-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem; }
  
  .l-grid .l-grid-cell {
    margin-left: 1rem;
    display: block; }
  
  .l-grid--narrow {
    margin-left: -0.5rem; }
    
    .l-grid--narrow .l-grid-cell {
      margin-left: 0.5rem; }
  
  .l-grid--collapsed {
    margin-left: 0; }
    
    .l-grid--collapsed .l-grid-cell {
      margin-left: 0; }
  
  .l-grid--gapped > .l-grid-cell {
    margin-bottom: 1rem; }


.l-grid-cell {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; }


.l-one-whole {
  width: calc(100% - 1rem); }


.l-grid--narrow .l-one-whole {
  width: calc(100% - 0.5rem); }


.l-one-half {
  width: calc(50% - 1rem); }


.l-grid--narrow .l-one-half {
  width: calc(50% - 0.5rem); }


.l-one-quarter {
  width: calc(25% - 1rem); }


.l-grid--narrow .l-one-quarter {
  width: calc(25% - 0.5rem); }

@media only screen and (max-width: 1050px) {
  
  .l-one-whole--tablet {
    width: calc(100% - 1rem); }
  
  .l-grid--narrow .l-one-whole--tablet {
    width: calc(100% - 0.5rem); }
  
  .l-one-half--tablet {
    width: calc(50% - 1rem); }
  
  .l-grid--narrow .l-one-half--tablet {
    width: calc(50% - 0.5rem); }
  
  .l-one-quarter--tablet {
    width: calc(25% - 1rem); }
  
  .l-grid--narrow .l-one-quarter--tablet {
    width: calc(25% - 0.5rem); } }

@media only screen and (max-width: 740px) {
  
  .l-one-whole--mobile {
    width: calc(100% - 1rem); }
  
  .l-grid--narrow .l-one-whole--mobile {
    width: calc(100% - 0.5rem); }
  
  .l-one-half--mobile {
    width: calc(50% - 1rem); }
  
  .l-grid--narrow .l-one-half--mobile {
    width: calc(50% - 0.5rem); }
  
  .l-one-quarter--mobile {
    width: calc(25% - 1rem); }
  
  .l-grid--narrow .l-one-quarter--mobile {
    width: calc(25% - 0.5rem); } }

@media only screen and (min-width: 1051px) {
  .is-visible-desktop {
    display: block !important;
    visibility: visible; }
    .is-visible-desktop--inline {
      display: inline; }
    .is-visible-desktop--inline-block {
      display: inline-block; }
  .is-hidden-desktop, .is-visible-tablet, .is-visible-mobile {
    display: none !important;
    visibility: hidden; }
    .is-hidden-desktop--inline, .is-visible-tablet--inline, .is-visible-mobile--inline {
      display: none !important; }
    .is-hidden-desktop--inline-block, .is-visible-tablet--inline-block, .is-visible-mobile--inline-block {
      display: none !important; } }

@media only screen and (max-width: 1050px) {
  .is-visible-tablet {
    display: block !important;
    visibility: visible; }
    .is-visible-tablet--inline {
      display: inline; }
    .is-visible-tablet--inline-block {
      display: inline-block; }
  .is-hidden-tablet, .is-visible-desktop, .is-visible-mobile {
    display: none !important;
    visibility: hidden; }
    .is-hidden-tablet--inline, .is-visible-desktop--inline, .is-visible-mobile--inline {
      display: none !important; }
    .is-hidden-tablet--inline-block, .is-visible-desktop--inline-block, .is-visible-mobile--inline-block {
      display: none !important; } }

@media only screen and (max-width: 740px) {
  .is-visible-mobile {
    display: block !important;
    visibility: visible; }
    .is-visible-mobile--inline {
      display: inline; }
    .is-visible-mobile--inline-block {
      display: inline-block; }
  .is-hidden-mobile, .is-visible-desktop, .is-visible-tablet {
    display: none !important;
    visibility: hidden; }
    .is-hidden-mobile--inline, .is-visible-desktop--inline, .is-visible-tablet--inline {
      display: none !important; }
    .is-hidden-mobile--inline-block, .is-visible-desktop--inline-block, .is-visible-tablet--inline-block {
      display: none !important; } }

.l-grid--vr > .l-grid-cell {
  margin-bottom: 1rem; }

.btn--unstyled {
  background-color: transparent;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit; }

.l-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px; }
  .l-container--medium {
    max-width: 960px; }
  .l-container--small {
    max-width: 500px; }
  .l-container--condensed {
    padding-left: 0;
    padding-right: 0; }

.card {
  padding: 1rem;
  background: #fcfcfa;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #16161d;
  border-radius: 0.2rem; }

.l-flag {
  display: flex; }
  .l-flag__image {
    width: 48px; }
    .l-flag__image--medium {
      width: 10rem; }
    .l-flag__image--large {
      width: 20rem; }
    .l-flag__image img {
      height: 100%;
      width: 100%; }
  .l-flag__body {
    flex-grow: 1; }

.header {
  background: #005b96; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem; }
  .header__logo {
    display: inline-block; }
  .header__circle {
    stroke: #fcfcfa;
    fill: #6497b1; }
  .header__brand {
    display: inline-block;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #fcfcfa; }
  .header__left a:hover, .header__left a:active {
    color: rgba(252, 252, 250, 0.7); }
  .header__right--has-user {
    min-width: 130px; }
    @media only screen and (max-width: 740px) {
      .header__right--has-user {
        min-width: 0; } }
  .header__right a {
    color: #fcfcfa; }
    .header__right a:hover, .header__right a:active {
      color: rgba(252, 252, 250, 0.7); }
  .header__public-link {
    margin-right: 1rem; }
    .header__public-link--last {
      margin-right: 0; }

.user-dropdown {
  position: relative; }
  @media only screen and (max-width: 740px) {
    .user-dropdown {
      position: initial; } }
  .user-dropdown__wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-dropdown__label {
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #fcfcfa;
    display: inline-block;
    margin-right: 1rem; }
    @media only screen and (max-width: 740px) {
      .user-dropdown__label {
        font-size: 1.15rem;
        line-height: 1.5; } }
    @media only screen and (max-width: 740px) {
      .user-dropdown__label {
        display: none; } }
  .user-dropdown__wrapper .avatar {
    display: inline-block; }
  .user-dropdown__item a {
    background: settings(dropdown-color);
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    cursor: pointer; }
    .user-dropdown__item a:hover, .user-dropdown__item a:active {
      background: settings(dropdown-colorHover);
      text-decoration: none; }
  .user-dropdown__btn-logout {
    background: settings(dropdown-color);
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center; }
    .user-dropdown__btn-logout:hover, .user-dropdown__btn-logout:active {
      background: settings(dropdown-colorHover); }

.dd-menu-items {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-top: 0.5rem; }

.dd-items-center {
  list-style: none;
  padding: 0;
  margin: 0; }

.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 48px;
  width: 48px; }
  .avatar--medium {
    height: 10rem;
    width: 10rem; }
  .avatar--large {
    height: 20rem;
    width: 20rem; }

.message-list__display-name {
  display: inline-block;
  margin-right: 0.5rem; }

.message-list__message {
  display: block;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #16161d;
  overflow: hidden;
  clear: both; }
  @media only screen and (max-width: 740px) {
    .message-list__message {
      font-size: 1.15rem;
      line-height: 1.5; } }

.message-list__date {
  display: inline-block;
  margin-right: 0.5rem; }

.message-list__image {
  display: inline-block;
  margin-right: 0.5rem;
  width: 48px; }

.message-list__btn-delete {
  float: right; }

.is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .is-visuallyhidden.is-focusable:active, .is-visuallyhidden.is-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.is-invisible {
  visibility: hidden; }

.is-disabled {
  opacity: 0.5;
  pointer-events: none; }

.is-hidden {
  display: none !important;
  visibility: hidden; }

.is-visible {
  display: inherit !important;
  visibility: visible; }
  .is-visible--block {
    display: block !important; }
  .is-visible--inline {
    display: inline !important; }
  .is-visible--inline-block {
    display: inline-block !important; }

.is-loading {
  pointer-events: none;
  opacity: 0.5;
  animation: pulse 2s infinite; }

@keyframes pulse {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 0.2; } }
